* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rokkitt', serif;
}

main{
  max-width: 1600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
}

section, div{
  overflow: hidden;
}

div img{
  width: 100%;
  height: auto;
}
  

section::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  position: relative;
  text-align: center;
  color: #fff;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding:20px;
  width: 50%;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
  font-size: calc(12px + 1.5vw);
  color: #fff;
}
.centered:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

h1{
  text-align: center;
  font-size: calc(16px + 2vw);
}
h2{
  font-size: calc(14px + 1.74vw);
}
h3{
  font-size: calc(12px + 1.5vw);
}
/* nav */
nav{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: 'Rokkitt', serif;
  line-height: 75px;
  overflow: auto;
  margin: auto;
  max-width: 1600px;
}
nav a{
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-weight: 200;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.active {
  background-color: #fff;
  z-index: 1;
}

.active a{
    color: #000;
}

header {
  position: absolute;
  top: 107.5px; 
  width: 100%;
}

nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
}

li:hover a.underline{
  border-bottom: 2px solid #fff;
}

.active li:hover a.underline, .active-mobile li:hover a.underline{
  border-bottom: 2px solid #000;
}
nav.topnav ul li {
  display: inline-block;
  width: 20%;
  text-align: center; 
  font-size: calc(12px + 1vw);
}

a.icon {
  display: none;
}

.nav-ul {
  min-width: 100%;
}

/* logo scrolling and sticky nav */

img.white{
  display: inline-block;
  height: 75px ;
  width: auto;
  vertical-align: middle;
}
.black{
  display: none;
}
.active .white{
  display: none;
}
.active .black{
  display: inline-block;
  height: 48px;
  width: auto;
  vertical-align: middle;
}
.active nav{
  line-height: 50px;
  height: 60px;
  padding: 5px;
}
header.active {
  box-shadow: 0px 2px 16px rgba(0,0,0,0.2);
  z-index: 1;
}
.mobile-white{
  display: none;
}

/* nav background image/banner */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 20%;
  max-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
}

.dropdown-content a {
  color: #000;
  text-decoration: none;
  display: block !important;
  min-width: 100%;
}
nav.topnav ul .dropdown-content li {
  color: #000;
  text-decoration: none;
  display: block !important;
  width: 100%;
  line-height: 40px;
}

.dropdown-content li:hover {
  background-color: #ddd;
  min-width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* footer*/
footer {
  width:100%;
  min-height:50px;
  background: #b0b0b0;
  text-align: center;
  line-height: 50px;
  font-size: calc(8px + .5vw);;
}
footer a{
  color: #000;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}


/* embed responsively */
.embed-container { 
  position: relative; 
  padding-bottom: 100%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  border: 0;
}
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 15px; 
  left: 15px; 
  width: calc(100% - 30px);
  height: calc(100% - 30px); 
  border: 0;
}

@media only screen and (max-width: 700px) {
  nav.topnav ul li {
    width: 25%;
  }
  .dropdown-content {
    width: 25%;}
  .mobile-white, .mobile-white img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 75px;
    width: auto;
    margin-bottom: 20px;
  }
  .active-mobile .mobile-white{
    display: none;
  }
  .logo{
    display: none !important;
  }

  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .active-mobile {
    background-color: #fff !important;
    box-shadow: 0px 2px 16px  rgba(0,0,0,0.2) !important;
  }
  .active-mobile a{
    color: #000;
  }
  .active-mobile nav{
    line-height: 20px !important;
    height: 30px !important;
    padding: 5px;
  }
  nav{
    line-height: 20px !important;
    height: 30px !important;
  }

}
div.right{float: right;}

[class*="col-"] {
  float: left;
  padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {width: 100%;}

.embed-container {height: 95vw;}
main{width: 100%;}

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-s-half {width: 50%;}
  .col-s-full {width: 100%;}
  main{width: 95%;}
}

@media only screen and (min-width: 800px) {
  /* For desktop: */
  .col-one-third {width: 33.33%;}
  .col-half {width: 50%;}
  .col-two-thirds {width: 66.66%;}
  .col-full {width: 100%;}
  .embed-container{height: 47.5vw;}
  main{width: 90%;}
}



@media screen and (max-width: 300px) {
  nav{
    display: none;
    width: 100%;
  }
  a.icon {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  .active-mobile a.icon {
    color: #000;
  }
  .active li:hover a.underline, .active-mobile li:hover a.underline{
    border-bottom: none;
  }

}

@media screen and (max-width: 300px) {
  .active li:hover a.underline, .active-mobile li:hover a.underline{
    border-bottom: none;
  }
  .topnav.responsive {
    position: relative;
    z-index: 1;
    height: auto;
    display: block;
    
  }

  ul, menu, dir {
    display: block;
}
  header{
    z-index: 1;}
  nav.responsive{
    display: block;
    box-shadow: 0px 8px 16px -16px rgba(0,0,0,0.2);
    width: 100%;
    height: auto !important;
    z-index: 2;
    padding: 0;
  }

  nav.topnav.responsive li {
    float: none;
    display: block;
    text-align: center;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 100%;;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  nav.topnav.responsive li a{
    color: #000;
    padding:5px
  }
  nav.topnav.responsive li:hover {
    background-color: #ddd;
    min-width: 100vw;}

  .topnav.responsive .dropdown {
    float: none;
  }
  nav.topnav .dropdown-content li {
    line-height: 20px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .topnav.responsive li.dropdown:hover{
    background-color: #f9f9f9;
  }
  .topnav.responsive li.dropdown li{
    background-color: #ddd;
  }
  .dropdown-content a:hover {
    background-color: #b0b0b0;
  }
  .dropdown-content {
    box-shadow: none;
    width: 100%;
    max-width: 100%;
  }
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
}