body, html {
  margin: 0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rokkitt', serif;
}
  
/* nav */
nav{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: 'Rokkitt', serif;
  line-height: 75px;
}

nav a{
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-weight: 200;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.active {
  background-color: white;
  box-shadow: 0px 2px 16px rgba(0,0,0,0.2) !important;
  z-index: 1;
}

.active-mobile a, .active a{
    color: black;
}

header {
  position: absolute;
  top: 107.5px; 
  left: 0px;
  width: 100%;
}
/* nav dropdowns 
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {display: inline-block;} 

#myTopnav {
  text-align: justify;
  min-width: 80%;
}
#myTopnav:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#nav li {
  display: inline-block;
}

/* logo scrolling and responsive */

.white{
  display: inline-block;
  height: 75px;
  width: auto;
  vertical-align: middle;
}
.black{
  display: none;
}
.active .white{
  display: none;
}
.active .black{
  display: inline-block;
  height: 49px;
  width: auto;
  vertical-align: middle;
}
.active nav{
  line-height: 50px;
  height: 60px;
  padding: 5px;
}
.mobile-white{
  display: none;
}

/* nav background image/banner */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/meat.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* nav dropdowns */
.dropdown {
  float: left;
}
nav div.dropdown{
  padding: 5px;
  margin: 0 5%;
}
nav a:hover, .dropdown:hover .dropbtn {
  color: red
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a:hover {
  background-color: #ddd;
  min-width: 100px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
end comment out nav dropdowns */

/* footer*/
footer {
  width:100%;
  min-height:50px;
  background: grey;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}


/* embed responsively */
.embed-container { 
  position: relative; 
  padding-bottom: 100%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
h2{
  margin-block-start: 0;
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 700px) {
  .mobile-white, .mobile-white img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 75px;
    width: auto;
    margin-bottom: 20px;
  }
  .active-mobile .mobile-white{
    display: none;
  }
  .logo{
    display: none !important;
  }
  header {
    top: 80px; 
    left: 0px;
    width: 100%;
  }
  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .active-mobile {
    background-color: white !important;
    box-shadow: 0px 2px 16px rgba(0,0,0,0.2) !important;
  }
  .active-mobile a{
    color: black;
  }
  footer {
    font-size: 12px;
  }
  .active-mobile nav{
    line-height: 20px !important;
    height: 30px !important;
    padding: 5px;
  }
  nav{
    line-height: 20px !important;
    height: 30px !important;
    padding: 5px;
  }
}

@media only screen and (max-width: 425px) {
  nav a{
    margin: 0 2%;
  }
  nav div.dropdown{
    padding: 5px !important;
    margin: 0 2% !important;
  }
  footer {
    font-size: 10px;
  }
}


* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-s-half {width: 50%;}
  .col-s-full {width: 100%;}
}

@media only screen and (min-width: 800px) {
  /* For desktop: */
  .col-one-third {width: 33.33%;}
  .col-half {width: 50%;}
  .col-two-thirds {width: 66.66%;}
  .col-full {width: 100%;}
  .embed-container {padding-bottom: 50% !important;}
}

main{
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
}

section, div{
  overflow: hidden;
}

div img{
  width: 100%;
  height: auto;
}
  
section::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  text-align: center;
}


